<div class="col-md-7 col-md-offset-3">
  <div id="flash">

  </div>

  <%= simple_form_for @week do |f| %>
    <% if @week.errors.any? %>
      <div class="alert alert-danger">
        <h4><%= pluralize(@week.errors.count, "error") %> prohibited this week from being saved:</h4>
        <ul>
          <% @week.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="margin-20-0">
      <%= f.input :bowl_game, as: :boolean, label: 'Bowl Game Week?' %>
    </div>
    
    <div class="margin-20-0">
      <%= f.input :number_of_games, label: 'Number of Games', input_html: { min: 1, max: 13, value: @week.number_of_games || 13 } %>
      <small class="help-block">Specify how many games this week will have (1-13)</small>
    </div>
    
    <div class="margin-20-0">
      <label class="control-label">Available Points</label>
      <div class="available-points-checkboxes" style="margin-top: 10px;">
        <% available_points_array = @week.available_points.present? ? @week.available_points.split(',').map(&:strip).map(&:to_i) : (1..13).to_a %>
        <% (1..13).to_a.reverse.each do |point| %>
          <label class="checkbox-inline" style="margin-right: 15px; font-weight: normal;">
            <%= check_box_tag "week[available_points_checkboxes][]", point, available_points_array.include?(point), { id: "available_point_#{point}" } %>
            <%= point %>
          </label>
        <% end %>
      </div>
      <%= hidden_field_tag "week[available_points]", @week.available_points || (1..13).to_a.join(','), id: "week_available_points_hidden" %>
      <small class="help-block">Select which point values (1-13) are available for selections in this week</small>
    </div>
    
    <%= f.fields_for :games do |ff, index| %>
      <div class="margin-20-0 game-field" data-game-index="<%= ff.options[:child_index] %>">
        <h4>
          <span class="bowl-game-name" style="<%= 'display: none;' unless @week.bowl_game? %>">
            <%= ff.text_field :bowl_game_name, placeholder: "Bowl Game Name (optional)", class: "form-control", style: "width: 200px; display: inline-block;" %>
          </span>
          <span class="regular-game-number" style="<%= 'display: none;' if @week.bowl_game? %>">
            Game <%= ff.options[:child_index] + 1 %>:
          </span>
        </h4>
        
        <%= ff.select :home_team_id, list_teams, {include_blank: "Select Home Team"}, {class: "select-class"} %>
        <%= ff.select :away_team_id, list_teams, {include_blank: "Select Away Team"}, {class: "select-class"} %>
        <%= ff.select :spread, options_for_select((-100..100).step(0.5).map{|n| n%1 == 0 ? n.to_i : n}), {include_blank: "Select Home Team Spread"}, {class: "select-class"} %>
        <%= ff.hidden_field :game_selected_by_admin, value: true %>
        <%= ff.hidden_field :active, value: true %>
      </div>
    <% end %>
    <%= f.submit (@week.new_record? ? "Create New Week" : "Update Week"), data: { confirm: (@week.new_record? ? 'Are you sure you want to create a New Week?' : 'Are you sure you want to update this Week?') }, class: "btn btn-primary" %>
  <% end %>
</div>
<div class="col-md-7 col-md-offset-3">
  <br>
  <p><%= link_to "*Add New Team", "#", class: "add_new_team" %></p>
  
  <div class="new_team_form">
    <%= simple_form_for @team, url: url_for(action: "create", controller: "teams"), method: "post" do |t| %>
      <%= t.input :region, label: "State/Region (i.e. 'Michigan')"   %>
      <%= t.input :name, label: "Team Name (i.e. 'Wolverines')"   %>
      <%= t.submit "Add New Team", class: "btn btn-primary" %>
    <% end %>
</div>