<div class="col-md-7 col-md-offset-3">
  <div id="flash">

  </div>

  <%= simple_form_for @week, url: url_for(action: "create", controller: "weeks"), method: "post" do |f| %>
    <%= f.fields_for :games do |ff, index| %>
    <div class="margin-20-0">
      <h4>Game <%= ff.options[:child_index] + 1 %>:</h4>
      <%= ff.select :home_team_id, list_teams, {include_blank: "Select Home Team"}, {class: ""} %> 

      <%= ff.select :away_team_id, list_teams, {include_blank: "Select Away Team" }, {class: ""} %>

      <%= ff.select :spread, options_for_select( (-100..100).step(0.5).map{|n| n%1 == 0 ? n.to_i : n} ), {include_blank: "Select Home Team Spread"}, {class: ""} %>
      <%= ff.hidden_field :game_selected_by_admin, value: true %>
      <%= ff.hidden_field :active, value: true %>
    </div>
    <% end %>
    <%= f.submit "Create New Week", data: { confirm: 'Are you sure you want to create a New Week?' }, class: "btn btn-primary" %>
  <% end %>
</div>
<div class="col-md-7 col-md-offset-3">
  <br>
  <p><%= link_to "*Add New Team", "#", class: "add_new_team" %></p>
  
  <div class="new_team_form">
    <%= simple_form_for @team, url: url_for(action: "create", controller: "teams"), method: "post" do |t| %>
      <%= t.input :region, label: "State/Region (i.e. 'Michigan')"   %>
      <%= t.input :name, label: "Team Name (i.e. 'Wolverines')"   %>
      <%= t.submit "Add New Team", class: "btn btn-primary" %>
    <% end %>
</div>