<div class="top-100 position-relative col-md-10 col-md-offset-1">
  <h3>Choose Winners for Week 1</h3>
  <div class="divTable">
  <div class="divTableBody">
  <div class="divTableRow">

  <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>
  <div class="divTableCell"><h4 class="">Home Team Score</h4></div>
  <div class="divTableCell"><h4 class="">Away Team Score</h4></div>
  
  </div>
  
  <% @games.each do |game| %>
  <div class="divTableRow">
  <div class="divTableCell"><%= home_team_name(game) %></div>
  <div class="divTableCell"><%= away_team_name(game) %></div>
  <div class="divTableCell"><%= game.home_team.region + " -" + game.spread.to_s %></div>
  <div class="divTableCell"><%= text_field_tag :home_team_score, nil, placeholder: "Home Team Score" %></div>
  <div class="divTableCell"><%= text_field_tag :away_team_score, nil, placeholder: "Away Twam Score" %></div>

  </div>

  <% end %>
  <%= submit_tag "Submit Selections", class: "btn btn-primary" %>

  </div>
  </div>
</div>