<div class="top-100 position-relative col-md-10 col-md-offset-1">
  <h1><%= link_to "See All Weeks", weeks_path %></h1>

  <div class="btn-group" role="group" style="margin: 20px 0;">
    <% if current_user.admin? %>
      <%= link_to reset_week_week_path(@week),
          method: :patch,
          class: "btn btn-danger btn-lg",
          data: { confirm: "Are you sure you want to reset Week #{@week.week_number}?" } do %>
        <i class="fas fa-redo-alt"></i> Reset Week <%= @week.week_number %>
      <% end %>
    <% end %>

    <% if current_user.admin? && @week.week_number == 1 %>
      <%= link_to restore_week1_scores_path,
          class: "btn btn-success btn-lg",
          data: { confirm: 'Are you sure you want to restore Week 1 scores?' } do %>
        <i class="fas fa-undo"></i> Restore Week 1 Scores
      <% end %>
    <% end %>

    <% if current_user.admin? && @week.active? %>
      <%= link_to force_score_active_week_path,
          class: "btn btn-info btn-lg",
          data: { confirm: 'Are you sure you want to force score all games in this week?' } do %>
        <i class="fas fa-calculator"></i> Force Score All Games
      <% end %>
    <% end %>

    <% if current_user.admin? && @week.active? && @week.bowl_game? %>
      <%= link_to close_week_week_path(@week),
          method: :patch,
          class: 'btn btn-warning btn-lg ms-2',
          data: { confirm: 'Are you sure you want to close this bowl week? This will prevent further selections.' } do %>
        <i class="fas fa-lock"></i> Close Bowl Week
      <% end %>
    <% end %>
  </div>

  <div style="margin:30px 0px;" class="divTable">
    <div>
      <% if current_user.admin? %>
        <h3>Choose Winners for Week <%= @week.week_number %></h3>
      <% else %>
        <h3>Scores for Week <%= @week.week_number %></h3>
      <% end %>
    </div>
  <div class="divTableBody">
  <div class="divTableRow">

  <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>
  <div class="divTableCell"><h4 class="">Home Team Score</h4></div>
  <div class="divTableCell"><h4 class="">Away Team Score</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Action</h4></div>

  </div>

  <% @games.each do |game| %>
  <div class="divTableRow">
    <div class="divTableCell"><%= game_home_team_name(game) %></div>
    <div class="divTableCell"><%= game_away_team_name(game) %></div>
    <div class="divTableCell"><%= game.home_team.region + " " + spread_operator(game) + game.spread.to_s %></div>
    <div class="divTableCell">
      <% if current_user.admin? == true && game.week.active == true %>
        <%= simple_form_for game, html: { style: "margin: 0; display: inline-block;" } do |f| %>
          <%= f.input :home_team_score, placeholder: "Enter Home Team Score", required: true, label: false %>
          <%= f.input :away_team_score, placeholder: "Enter Away Team Score", required: true, label: false %>
          <% if game.has_game_been_scored != true %>
            <%= f.submit "Submit Scores", :onclick => "return confirm('Please Confirm These Scores Are Correct.')", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% else %>
        <%= game.home_team_score %>
      <% end %>
    </div>
    <div class="divTableCell">
      <% if current_user.admin? == true && game.week.active == true %>
        <!-- Away team score is now in the form above -->
      <% else %>
        <%= game.away_team_score %>
      <% end %>
    </div>
    <div class="divTableCell">
      <!-- Submit button is now in the form above -->
    </div>
  </div>
  <% end %>
  </div>
  </div>
</div>
