<div class="top-100 position-relative col-md-10 col-md-offset-1">
  <h1><%= link_to "See All Weeks", weeks_path %></h1>
    <div class="divTable">
      <div>
        <% if current_user.admin? %>
          <h3>Choose Winners for Week <%= @week.week_number %></h3>
        <% else %>
          <h3>Scores for Week <%= @week.week_number %></h3>
        <% end %>
      </div>
    <div class="divTableBody">
    <div class="divTableRow">

    <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>
    <div class="divTableCell"><h4 class="">Home Team Score</h4></div>
    <div class="divTableCell"><h4 class="">Away Team Score</h4></div>
    
    </div>

    <% @games.each do |game| %>
    <div class="divTableRow">
      <div class="divTableCell"><%= game_home_team_name(game) %></div>
      <div class="divTableCell"><%= game_away_team_name(game) %></div>
      <div class="divTableCell"><%= game.home_team.region + " -" + game.spread.to_s %></div>
      <div class="divTableCell">
        <%= simple_form_for game do |f| %>
        <% if current_user.admin? %>
          <%= f.input :home_team_score, placeholder: "Home Team Score", required: true, label: false %>
          <% else %>
            <%= game.home_team_score %>
          <% end %>
      </div>
      <div class="divTableCell">
        <% if current_user.admin? %>
          <%= f.input :away_team_score, placeholder: "Away Twam Score", required: true, label: false %>
        <% else %>
          <%= game.away_team_score %>
        <% end %>
      </div>
    </div>

    <%= f.submit "Submit Selections", class: "margin-10-0-30-0 btn btn-primary" if current_user.admin?  %>
    <% end %>
    <% end %>
    </div>
    </div>

</div>