<div class="top-100 position-relative row">
  <div class="col-md-12">
    <div class="position-relative">
      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Announcements</h4>
        <p><%= announce Announcement.newest, hide_message: "" %></p><p><%= announce Announcement.newest_saved, hide_message: "" %></p>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Bowl Game Leaderboard</h4>
        <%= render partial: "layouts/bowl_game_leaderboard" %>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Top Scores for the Season</h4>
        <%= render partial: "layouts/cumulative_leaderboard" %>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Previous Champions</h4>
        <%= render partial: "layouts/previous_champions" %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="text-align-center col-xs-3 col-md-3">
    </div>
    <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Total Selections Per Team </h4>
        <%= render partial: "layouts/total_pref_pick_selections" %>
    </div>
  </div>
  <br>
  <div class="col-md-12 col-md-offset-4">
    <div class="text-align-center col-xs-3 col-md-3">
      <h2>In Memoriam</h2>
      <p><strong>Glen Smiley — Founder of Pick 13</strong></p>
      <p><strong>Jay Warden</strong></p>
    </div>
  </div>
</div>
