<div class="top-100 position-relative row">
  <div class="col-md-12">
    <div class="position-relative">
      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Announcements</h4>
        <p><%= announce Announcement.newest, hide_message: "" %></p><p><%= announce Announcement.newest_saved, hide_message: "" %></p>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Top Scores for the Week</h4>
        <%= render partial: "layouts/weekly_leaderboard" %>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Top Scores for the Season</h4>
        <%= render partial: "layouts/cumulative_leaderboard" %>
      </div>

      <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Previous Champions</h4>
        <%= render partial: "layouts/previous_champions" %>
      </div>
      <!-- <div class="text-align-center col-xs-3 col-md-3">
        <h4 class="text-underline">Last Week's Leaderboard</h4>
        <%#= render partial: "layouts/last_week_leaderboard" %>
      </div> -->
    </div>
  </div>
</div>
