<div class="top-100 position-relative col-md-10 col-md-offset-1">

    <div style="margin:30px 0px;" class="divTable">
      <div>
        <% if current_user.admin? %>
          <h3>Choose Winners for Week <%= @week.week_number %></h3>
        <% else %>
          <h3>Scores for Week <%= @week.week_number %></h3>
        <% end %>
      </div>
    <div class="divTableBody">
    <div class="divTableRow">

    <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>

    </div>

    <% @games.each do |game| %>
      <div class="divTableRow">
        <div class="divTableCell"><%= game.home_team.region %></div>
        <div class="divTableCell"><%= game.away_team.region %></div>
        <div class="divTableCell"><%= game.spread %></div>
        <% if current_user.admin? && game.week.active && !game.has_game_been_scored %>
          <%= form_for game do |f| %>
            <%= f.submit "Submit Selections", 
                onclick: "return confirm('Please Confirm These Scores Are Correct.')", 
                class: "margin-10-0-30-0 btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
    </div>
</div>
