<div class="top-100 position-relative row">
  <div class="col-sm-10 col-sm-offset-1">
    <h3>User Info</h3>
    <table class="table table-bordered table-striped table-responsive">
      <thead>
        <tr>
          <th>
            Username
          </th>
          <th>
            Name
          </th>
          <th>
            Email
          </th>
          <th>
            Address
          </th>
          <th>
            Cell Phone Number
          </th>
          <th>
            Favorite Teams
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%= @user.try(:username) %>
          </td>
          <td>
            <%= @user.try(:name) %>
          </td>
          <td>
            <%= @user.try(:email) %>
          </td>
          <td>
            <%= @user.try(:address) %>
          </td>
          <td>
            <%= @user.try(:cell_phone_number) %>
          </td>
          <td>
            <%= @user.try(:fav_teams)%>
          </td>
        </tr>
      </tbody>
</table>
  </div>
</div>


