<div class="row">
  <div class="position-relative">
    <div class="text-align-center col-xs-4 col-md-4">
      <h4 class="text-underline">Announcements</h4>
      <p><%= announce Announcement.newest, hide_message: "" %></p>
    </div>
    <div class="text-align-center col-xs-4 col-md-4"><h4 class="text-underline">Top Scores for the Week</h4></div>
    <div class="text-align-center col-xs-4 col-md-4"><h4 class="text-underline">Top Scores for the Season (Cumulative)</h4></div>
  </div>
</div>

<!-- User Selections Table, No Forms inside table yet-->
<!-- Still Need to include Admin Chosen Games -->
<div class="top-50 position-relative col-md-10 col-md-offset-1">
  <table class="table table-bordered table-striped table-responsive">
    <thead>
      <tr>
        <th>
          Home Team
        </th>
        <th>
          Away Team
        </th>
        <th>
          Spread
        </th>
        <th>
          Preference Pick
        </th>
        <th>
          Spread Pick
        </th>
        <th>
          Points
        </th>
        <th>
          Edit
        </th>
      </tr>
    </thead>
    <tbody>
      <% @selections.each do |s| %>
      <tr>
        <td>
          <%= s.game.home_team.region + " " + s.game.home_team.name %>
        </td>
        <td>
          <%= s.game.away_team.region + " " + s.game.away_team.name %>
        </td>
        <td>
          <%= s.game.spread %>
        </td>
        <td>
          <strong><%= s.pref_pick_int %></strong> points on:
          <!-- via helper -->
          <%= pref_pick(s) %>
        </td>
        <td>
          <!-- via helper -->
          <%= spread_pick(s) %>
        </td>
        <td>
          <%= s.points %>
        </td>
        <td>
          <%= link_to selection_path(s), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to selection_path(s), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
