<div class="top-50 position-relative col-md-10 col-md-offset-1">
  <h2>Picksheet</h2>
  <div class="divTable">
  <div class="divTableBody">

  <div class="divTableRow">
    <div class="divTableCell"><h4 class="text-align-center">Week Number</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Pref Amount</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Current Pref Pick</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Current Spread Pick</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Selection</h4></div>
  </div>

    <% @weeks.each do |week| %>
      <% week.games.each do |game| %>
        <div class="divTableRow">
          <div class="divTableCell"><%= "#{week.id}" %></div>
          <div class="divTableCell"><%= game_home_team_name(game) %></div>
          <div class="divTableCell"><%= game_away_team_name(game) %></div>
          <div class="divTableCell"><%= game.home_team.region + " -" + game.spread.to_s %></div>
          <div class="divTableCell"><%= users_pref_int_selection(game) %></div>
          <div class="divTableCell"><%= team_name(users_pref_pick_selection(game))%></div>
          <div class="divTableCell"><%= team_name(users_spread_pick_selection(game))%></div>
          <% if current_user.selections.where(game_id: game).present? && game.active? %>
            <div class="divTableCell"><%= link_to "Edit Selection", edit_game_selection_path(game.id, current_user.get_users_selections(game)) %></div>
          <% else %>
            <div class="divTableCell"><%= link_to "Make New Selection", new_game_selection_path(game) if game.active? %></div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  </div>
</div>

