<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="position-relative">
      <div class="text-align-center col-xs-4 col-md-4">
        <h4 class="text-underline">Announcements</h4>
        <p><%= announce Announcement.newest, hide_message: "" %></p>
      </div>
      <div class="text-align-center col-xs-4 col-md-4"><h4 class="text-underline">Top Scores for the Week</h4></div>
      <div class="text-align-center col-xs-4 col-md-4"><h4 class="text-underline">Top Scores for the Season (Cumulative)</h4></div>
    </div>
  </div>
</div>

<div class="col-md-10 col-md-offset-1">

  <div class="divTable">
  <div class="divTableBody">
  <div class="divTableRow">

  <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
  <div class="divTableCell"><h4 class="text-align-center">Spread</h4></div>
  <div class="divTableCell"><h4 class="">Spread Pick | Preference Pick | Points Awarded</h4></div>
  </div>
  
  <% @games.each do |game| %>
  <div class="divTableRow">
  <div class="divTableCell"><%= game.home_team.region %></div>
  <div class="divTableCell"><%= game.away_team.region %></div>
  <div class="divTableCell"><%= game.home_team.region + " -" + game.spread.to_s %></div>
    <%= simple_form_for @selection do |f| %>
      <div class="divTableCell">
          <%= f.select :spread_pick_team, [['Home Team',1],['Away Team',2]] %>
      </div>
      <div class="divTableCell">
          <%= f.select :pref_pick_int,  pref_pick_integers, :prompt => 'Choose A Value' %>
      </div>
      <div class="divTableCell">
          <%= f.text_field :points, readonly: true, label: false, placeholder: "Points Awarded" %>  
      </div>
    <% end %>
  </div>
  <% end %>

  </div>
  </div>
</div>