<div class="top-50 position-relative col-md-12">
  <%= simple_form_for([@game, @selection]) do |f| %>
    <%= f.error_notification %>
    <div>
      <h1 class="text-align-center"><%= selections_home_team_name(@selection)  %> VS <%= selections_away_team_name(@selection) %></h1>
    </div>
    <div class="top-50 position-relative form-inputs">
      <div class="col-sm-4 col-sm-offset-3">
        <%= f.label :pref_pick_int, "Preference Pick Amount" %>
        <div class="field">
          <%= f.select :pref_pick_int,  pref_pick_integers(@game.week), {:prompt => 'Points Wagered'}, {class: "selectpicker"} %>
        </div>
        <div class="field">
          <%= f.label :pref_pick_team, "Preference Pick" %>
          <%= f.input :pref_pick_team, as: :radio_buttons, collection: [["FAV:" + " " + game_home_team_name(@game) + " " + "(#{@game.spread.to_s})", @game.home_team_id],["DOG:" + " " + game_away_team_name(@game), @game.away_team_id]], required: true, label: false %>
        </div>
      </div>
    <div class="col-sm-4">
      <div class="field">
        <%= f.label :spread_pick_team, "Spread Pick" %>
        <%= f.input :spread_pick_team, as: :radio_buttons, collection: [["FAV:" + " " + game_home_team_name(@game), @game.home_team_id],["DOG:" + " " + game_away_team_name(@game), @game.away_team_id]], required: true, label: false %>
      </div>
    </div> 
    <div class="col-sm-12 text-align-center top-50 position-relative">
      <%= f.submit  %>
    </div>
  <% end %>

</div>