<p id="notice"><%= notice %></p>

<div class="top-100 position-relative col-md-10 col-md-offset-1">
  <% if current_user.admin? %>
    <h3>All Users' Selections:</h3>
  <% else %>
    <h3>Current Selections:</h3>
  <% end %>
  <div class="divTable">
  <div class="divTableBody">

  <div class="divTableRow">
    <div class="divTableCell"><h4 class="text-align-center">Week</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">User</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Preference Amount</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Preference Pick</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Spread Pick</h4></div>
  </div>

  <%@selections.each do |selection| %>
  <div class="divTableRow">
    <% if selection.game.present? && selection.game.week_id == Week.last.id %>
      <div class="divTableCell"><%= selection.game.week.week_number %></div>
      <div class="divTableCell"><%= selection.user.username %></div>
      <div class="divTableCell"><%= selections_home_team_name(selection) + " " + "(#{(spread_operator(selection.game)+selection.game.spread.to_s)})"   %></div>
      <div class="divTableCell"><%= selections_away_team_name(selection) %></div>
      <div class="divTableCell"><%= selection.pref_pick_int %></div>
      <div class="divTableCell"><%= selection_team(selection.pref_pick_team) %></div>
      <div class="divTableCell"><%= selection_team(selection.spread_pick_team) %></div>
    <% end %>
  </div>
  <% end %>

  </div>
  </div>
</div>