<p id="notice"><%= notice %></p>

<div class="top-100 position-relative col-md-10 col-md-offset-1">
  <h3>All Selections</h3>
  <div class="divTable">
  <div class="divTableBody">

  <div class="divTableRow">
    <div class="divTableCell"><h4 class="text-align-center">User</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Home Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Away Team</h4></div>
    <div class="divTableCell"><h4 class="text-align-center">Edit Selection</h4></div>
  </div>

  <%@selections.each do |selection| %>
  <div class="divTableRow">
      <div class="divTableCell"><%= selection.user.name %></div>
      <div class="divTableCell"><%= home_team_name(selection) %></div>
      <div class="divTableCell"><%= away_team_name(selection) %></div>
      <div class="divTableCell"><%= link_to 'Edit', edit_selection_path(selection) %></div>
  </div>
    <% end %>

  </div>
  </div>
</div>